# Mage2click Docker Configuration for Magento 1 with Mutagen.io sync, Mailhog and Varnish (https://github.com/mage2click/docker-magento-mutagen)
# Version 2.*
version: "3"

services:

  app:
    image: mage2click/magento-nginx:1.13
    ports:
      - "80:8000"
      - "443:8443"
    depends_on:
      - db
      - phpfpm
    volumes: &appvolumes
      - ~/.composer:/var/www/.composer:delegated
      - appdata:/var/www/html
      - sockdata:/sock

  db:
    image: percona:5.7
    ports:
      - "3306:3306"
    env_file: env/db.env
    volumes:
      - dbdata:/var/lib/mysql

  redis:
    image: redis:5.0-alpine

  elasticsearch:
    image: mage2click/magento-elasticsearch:2.4
    ports:
      - "9200:9200"
      - "9300:9300"

  phpfpm:
    image: mage2click/magento-php-versions:5.6-fpm-mailhog
    depends_on:
      - db
    ports:
      - "9001:9001"
    volumes: *appvolumes

  mailhog:
    image: mailhog/mailhog:v1.0.0
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  appdata:
  dbdata:
  sockdata:
